<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Conexao_bd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Conexao_bd.Properties.Settings>
            <setting name="BD" serializeAs="String">
                <value>Data Source=THIAGO-PC\THIAGOAA;Initial Catalog=BD_Pesqueiro;Integrated Security=True</value>
            </setting>
            <setting name="Pesq_BD" serializeAs="String">
                <value>Provider=sqloledb;Data Source=C:\BD\BD_Pesqueiro.MDF;Initial Catalog=pubs;Integrated Security=SSPI</value>
            </setting>
        </Conexao_bd.Properties.Settings>
    </userSettings>
</configuration>