<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pesq_Caixa.Properties.Settings.bd_PesqueiroConnectionString"
            connectionString="Data Source=Thiago-PC;Initial Catalog=bd_Pesqueiro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>