<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pesqueiro.Properties.Settings.bd_Pesq" connectionString="Data Source=THIAGO-PC;Initial Catalog=bd_Pesq;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>